
body{
    background-image: url('./assets/backdrop.jpg');
    background-size: cover;
    display:grid;
    position: absolute;
    inset: 0 0 0 0;
}

h1{
    text-align: center;
}

.card{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    height: 93%;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    margin: 3%;
    padding: 10px;
    /* border-radius: 1%; */
    background: rgba(0, 0, 0, 0.7);
}
.card img{
    margin-left: auto;
    margin-right: auto;
    border: 0;
    /* width: 30%; */
    height: 30%;
    object-fit: cover;
    /* border-radius: 12%;
    filter: drop-shadow(0px 0px 4px rgb(176, 197, 255)); */
}
.img-thumbnail{
    border: 0;
}
.links .logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
    filter: none;
}
.scroll{
    display: flexbox;
    margin-inline: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* width: ; */
}

.infobox h4{
    color: #ffffff;
}

.infobox{
    background-color: rgba(0, 0, 0, 0.7);
    margin-block: 10px;
    padding-block: 10px; 
    padding-inline: 20px;   
    border-radius: 10px;
}



/* Responsive layout */
@media screen and (orientation: portrait) {
    body {
      grid-template-rows: 100%;
      overflow: hidden;  
      overflow-y: scroll;
      background-attachment: fixed;
    }
    .scroll {
        display: block;
        overflow-y: visible;
        align-items: center;
    }
  }

  @media screen and (orientation: landscape) {
    body {
    grid-template-columns: 30% 70%;
    }
  }


